<a href="/" style="float:left;margin:4px 0;font-size:2.4em">
	ACF98A03-C0AD-4498-98B9-871F88BE477B
</a>
<div style="float:right;margin:4px 0">
	<nice-button value="Personal Profile" onclick="
		ethereum
			.request({ method: 'eth_requestAccounts' })
			.then(goHome)
	"></nice-button>
	<nice-button value="+Post" onclick="
		ethereum
			.request({ method: 'eth_requestAccounts' })
			.then(offerPostAs)
	"></nice-button>
	<nice-button value="⚙" onclick="
		ethereum
			.request({ method: 'eth_requestAccounts' })
			.then(offerSettings)
	"></nice-button>
</div>
<hr style="clear:both">

<script>
function pageClear () {
	var marker = document.querySelector('hr');
	while (marker.nextSibling) {
		marker.nextSibling.remove();
	}
	return marker;
}
async function goHome (addrs) {
	var addr = addrs[0] // more sophistication coming later.
	var href = `/${ addr.substr(2).toLowerCase() }/`
	var xh = new XMLHttpRequest
	xh.open('get',href)
	xh.onload = xh.onabort = xh.onerror = ev => {
		switch (xh.status) {
			case 200:
				// do this crazy thing instead of a redirect:
				history.pushState(null,document.title,href)
				document.documentElement.innerHTML = xh.responseText
				for (let el of document.querySelectorAll('script:not([src])')) {
					;(new Function(el.textContent))();
				}
				break;
			case 404:
				pageClear().insertAdjacentText('afterEnd',"You're not yet a member! Try posting first!");
				break;
			default:
				console.error("Uh oh",ev,xh);
				pageClear().insertAdjacentHTML('afterEnd','<img src="about:blank">'); // shows a broken img
				break;
				// no idea what's best to do here tbh
		}
	}
	xh.send()
}
function offerPostAs (addr) {
	//pageClear().insertAdjacentHTML('afterEnd',`
	document.body.insertAdjacentHTML('beforeEnd',`
		<overbearing-overlay>
			<big-red-x onclick="this.parentNode.remove()"></big-red-x>
			<inner-panel>
				<textarea
					autofocus
					style="
						min-width:60vw;
						min-height:8em;
					"
					placeholder="Your thought&hellip;"
				></textarea>
				<br>
				<nice-button
					addr="${ attrOK(addr) }"
					value="Post as ${ attrOK(addr) }"
					onclick="postAs(this.getAttribute('addr'))"
				></nice-button>
			</inner-panel>
		</overbearing-overlay>
	`);
}
function offerSettings (addr) {
	//pageClear().insertAdjacentHTML('afterEnd',`
	document.body.insertAdjacentHTML('beforeEnd',`
		<overbearing-overlay>
			<big-red-x onclick="this.parentNode.remove()"></big-red-x>
			<inner-panel>
				Migration is in the pipeline; sit tight!
			</inner-panel>
		</overbearing-overlay>
	`);
}
function postAs(addr) {
	var prelude = `@${ (new Date).valueOf() }\n\n`;
	var txt = prelude + document.querySelector('textarea').value;
	//
	web3.eth.personal.sign(web3.utils.fromUtf8(txt),addr,function (err,ans) {
		if (err) throw new Error(err);
		var xh = new XMLHttpRequest;
		xh.open('put','/post/'+addr+'/'+ans);
		//
		xh.onabort = xh.onload = xh.onerror = ev => {
			//console.info("EVL:",ev.type,xh.status,xh.statusText,ev);
			switch (ev.type) {
				case 'load':
					if (xh.status >= 200 && xh.status < 300) {
						location.href = `/${ addr.substr(2).toLowerCase() }/`;
						break;
					}
					//else fallthrough:
				case 'error':
					alert(xh.responseText + "\n\nYour thought was not posted.");
					break;
			}
		}
		//
		xh.send(txt);
	});
}
</script>
